.ce-button[data-size='sm'] {
  border-radius: 4px;
  padding: 6px 12px;
  gap: 6px;
}

.ce-button[data-size='sm'] .ce-button__caption {
  font: var(--ce-font-roboto-medium-sm);
}

.ce-button[data-size='sm'] .ce-button__icon {
  font-size: 20px;
}
