.ce-button[data-size='xs'] {
  border-radius: 3px;
  padding: 4px 8px;
  gap: 4px;
}

.ce-button[data-size='xs'] .ce-button__caption {
  font: var(--ce-font-roboto-medium-xs);
}

.ce-button[data-size='xs'] .ce-button__icon {
  font-size: 16px;
}
