.ce-heading[data-variant='submit'] {
  --title-color: rgba(var(--ce-color-emerald-500));
}

.ce-heading[data-variant='submit'] .ce-heading__subtitle {
  --subtitle-color: rgba(var(--ce-color-emerald-50), 0.4);
}

.ce-heading[data-variant='submit'] .ce-heading__link {
  --link-color: rgba(var(--ce-color-emerald-600), 0.6);

  --link-color_hover: rgba(var(--ce-color-emerald-400), 1);
  --link-color_active: rgba(var(--ce-color-emerald-200));
  --link-color_focus: rgba(var(--ce-color-emerald-50));
}
