html {
  --ce-color-slate-50: 248, 250, 252;
  --ce-color-slate-100: 241, 245, 249;
  --ce-color-slate-200: 226, 232, 240;
  --ce-color-slate-300: 203, 213, 225;
  --ce-color-slate-400: 148, 163, 184;
  --ce-color-slate-500: 100, 116, 139;
  --ce-color-slate-600: 71, 85, 105;
  --ce-color-slate-700: 51, 65, 85;
  --ce-color-slate-800: 30, 41, 59;
  --ce-color-slate-900: 15, 23, 42;
  --ce-color-slate-950: 2, 6, 23;
  --ce-color-gray-50: 249, 250, 251;
  --ce-color-gray-100: 243, 244, 246;
  --ce-color-gray-200: 229, 231, 235;
  --ce-color-gray-300: 209, 213, 219;
  --ce-color-gray-400: 156, 163, 175;
  --ce-color-gray-500: 107, 114, 128;
  --ce-color-gray-600: 75, 85, 99;
  --ce-color-gray-700: 55, 65, 81;
  --ce-color-gray-800: 31, 41, 55;
  --ce-color-gray-900: 17, 24, 39;
  --ce-color-gray-950: 3, 7, 18;
  --ce-color-zinc-50: 250, 250, 250;
  --ce-color-zinc-100: 244, 244, 245;
  --ce-color-zinc-200: 228, 228, 231;
  --ce-color-zinc-300: 212, 212, 216;
  --ce-color-zinc-400: 161, 161, 170;
  --ce-color-zinc-500: 113, 113, 122;
  --ce-color-zinc-600: 82, 82, 91;
  --ce-color-zinc-700: 63, 63, 70;
  --ce-color-zinc-800: 39, 39, 42;
  --ce-color-zinc-900: 24, 24, 27;
  --ce-color-zinc-950: 9, 9, 11;
  --ce-color-neutral-50: 250, 250, 250;
  --ce-color-neutral-100: 245, 245, 245;
  --ce-color-neutral-200: 229, 229, 229;
  --ce-color-neutral-300: 212, 212, 212;
  --ce-color-neutral-400: 163, 163, 163;
  --ce-color-neutral-500: 115, 115, 115;
  --ce-color-neutral-600: 82, 82, 82;
  --ce-color-neutral-700: 64, 64, 64;
  --ce-color-neutral-800: 38, 38, 38;
  --ce-color-neutral-900: 23, 23, 23;
  --ce-color-neutral-950: 10, 10, 10;
  --ce-color-stone-50: 250, 250, 249;
  --ce-color-stone-100: 245, 245, 244;
  --ce-color-stone-200: 231, 229, 228;
  --ce-color-stone-300: 214, 211, 209;
  --ce-color-stone-400: 168, 162, 158;
  --ce-color-stone-500: 120, 113, 108;
  --ce-color-stone-600: 87, 83, 78;
  --ce-color-stone-700: 68, 64, 60;
  --ce-color-stone-800: 41, 37, 36;
  --ce-color-stone-900: 28, 25, 23;
  --ce-color-stone-950: 12, 10, 9;
  --ce-color-red-50: 254, 242, 242;
  --ce-color-red-100: 254, 226, 226;
  --ce-color-red-200: 254, 202, 202;
  --ce-color-red-300: 252, 165, 165;
  --ce-color-red-400: 248, 113, 113;
  --ce-color-red-500: 239, 68, 68;
  --ce-color-red-600: 220, 38, 38;
  --ce-color-red-700: 185, 28, 28;
  --ce-color-red-800: 153, 27, 27;
  --ce-color-red-900: 127, 29, 29;
  --ce-color-red-950: 69, 10, 10;
  --ce-color-orange-50: 255, 247, 237;
  --ce-color-orange-100: 255, 237, 213;
  --ce-color-orange-200: 254, 215, 170;
  --ce-color-orange-300: 253, 186, 116;
  --ce-color-orange-400: 251, 146, 60;
  --ce-color-orange-500: 249, 115, 22;
  --ce-color-orange-600: 234, 88, 12;
  --ce-color-orange-700: 194, 65, 12;
  --ce-color-orange-800: 154, 52, 18;
  --ce-color-orange-900: 124, 45, 18;
  --ce-color-orange-950: 67, 20, 7;
  --ce-color-amber-50: 255, 251, 235;
  --ce-color-amber-100: 254, 243, 199;
  --ce-color-amber-200: 253, 230, 138;
  --ce-color-amber-300: 252, 211, 77;
  --ce-color-amber-400: 251, 191, 36;
  --ce-color-amber-500: 245, 158, 11;
  --ce-color-amber-600: 217, 119, 6;
  --ce-color-amber-700: 180, 83, 9;
  --ce-color-amber-800: 146, 64, 14;
  --ce-color-amber-900: 120, 53, 15;
  --ce-color-amber-950: 69, 26, 3;
  --ce-color-yellow-50: 255, 251, 235;
  --ce-color-yellow-100: 254, 243, 199;
  --ce-color-yellow-200: 253, 230, 138;
  --ce-color-yellow-300: 252, 211, 77;
  --ce-color-yellow-400: 251, 191, 36;
  --ce-color-yellow-500: 245, 158, 11;
  --ce-color-yellow-600: 202, 138, 4;
  --ce-color-yellow-700: 161, 98, 7;
  --ce-color-yellow-800: 133, 77, 14;
  --ce-color-yellow-900: 113, 63, 18;
  --ce-color-yellow-950: 66, 32, 6;
  --ce-color-lime-50: 247, 254, 231;
  --ce-color-lime-100: 236, 252, 203;
  --ce-color-lime-200: 217, 249, 157;
  --ce-color-lime-300: 190, 242, 100;
  --ce-color-lime-400: 163, 230, 53;
  --ce-color-lime-500: 132, 204, 22;
  --ce-color-lime-600: 101, 163, 13;
  --ce-color-lime-700: 77, 124, 15;
  --ce-color-lime-800: 63, 98, 18;
  --ce-color-lime-900: 54, 83, 20;
  --ce-color-lime-950: 26, 46, 5;
  --ce-color-green-50: 240, 253, 244;
  --ce-color-green-100: 220, 252, 231;
  --ce-color-green-200: 187, 247, 208;
  --ce-color-green-300: 134, 239, 172;
  --ce-color-green-400: 74, 222, 128;
  --ce-color-green-500: 34, 197, 94;
  --ce-color-green-600: 22, 163, 74;
  --ce-color-green-700: 21, 128, 61;
  --ce-color-green-800: 22, 101, 52;
  --ce-color-green-900: 20, 83, 45;
  --ce-color-green-950: 5, 46, 22;
  --ce-color-emerald-50: 236, 253, 245;
  --ce-color-emerald-100: 209, 250, 229;
  --ce-color-emerald-200: 167, 243, 208;
  --ce-color-emerald-300: 110, 231, 183;
  --ce-color-emerald-400: 52, 211, 153;
  --ce-color-emerald-500: 16, 185, 129;
  --ce-color-emerald-600: 5, 150, 105;
  --ce-color-emerald-700: 4, 120, 87;
  --ce-color-emerald-800: 6, 95, 70;
  --ce-color-emerald-900: 6, 78, 59;
  --ce-color-emerald-950: 2, 44, 34;
  --ce-color-teal-50: 240, 253, 250;
  --ce-color-teal-100: 204, 251, 241;
  --ce-color-teal-200: 153, 246, 228;
  --ce-color-teal-300: 94, 234, 212;
  --ce-color-teal-400: 45, 212, 191;
  --ce-color-teal-500: 20, 184, 166;
  --ce-color-teal-600: 13, 148, 136;
  --ce-color-teal-700: 15, 118, 110;
  --ce-color-teal-800: 17, 94, 89;
  --ce-color-teal-900: 19, 78, 74;
  --ce-color-teal-950: 4, 47, 46;
  --ce-color-cyan-50: 236, 254, 255;
  --ce-color-cyan-100: 207, 250, 254;
  --ce-color-cyan-200: 165, 243, 252;
  --ce-color-cyan-300: 103, 232, 249;
  --ce-color-cyan-400: 34, 211, 238;
  --ce-color-cyan-500: 6, 182, 212;
  --ce-color-cyan-600: 8, 145, 178;
  --ce-color-cyan-700: 14, 116, 144;
  --ce-color-cyan-800: 21, 94, 117;
  --ce-color-cyan-900: 22, 78, 99;
  --ce-color-cyan-950: 8, 51, 68;
  --ce-color-sky-50: 240, 249, 255;
  --ce-color-sky-100: 224, 242, 254;
  --ce-color-sky-200: 186, 230, 253;
  --ce-color-sky-300: 125, 211, 252;
  --ce-color-sky-400: 56, 189, 248;
  --ce-color-sky-500: 14, 165, 233;
  --ce-color-sky-600: 2, 132, 199;
  --ce-color-sky-700: 3, 105, 161;
  --ce-color-sky-800: 7, 89, 133;
  --ce-color-sky-900: 12, 74, 110;
  --ce-color-sky-950: 8, 47, 73;
  --ce-color-blue-50: 239, 246, 255;
  --ce-color-blue-100: 219, 234, 254;
  --ce-color-blue-200: 191, 219, 254;
  --ce-color-blue-300: 147, 197, 253;
  --ce-color-blue-400: 96, 165, 250;
  --ce-color-blue-500: 59, 130, 246;
  --ce-color-blue-600: 37, 99, 235;
  --ce-color-blue-700: 29, 78, 216;
  --ce-color-blue-800: 30, 64, 175;
  --ce-color-blue-900: 30, 58, 138;
  --ce-color-blue-950: 23, 37, 84;
  --ce-color-indigo-50: 238, 242, 255;
  --ce-color-indigo-100: 224, 231, 255;
  --ce-color-indigo-200: 199, 210, 254;
  --ce-color-indigo-300: 165, 180, 252;
  --ce-color-indigo-400: 129, 140, 248;
  --ce-color-indigo-500: 99, 102, 241;
  --ce-color-indigo-600: 79, 70, 229;
  --ce-color-indigo-700: 67, 56, 202;
  --ce-color-indigo-800: 55, 48, 163;
  --ce-color-indigo-900: 49, 46, 129;
  --ce-color-indigo-950: 30, 27, 75;
  --ce-color-violet-50: 245, 243, 255;
  --ce-color-violet-100: 237, 233, 254;
  --ce-color-violet-200: 221, 214, 254;
  --ce-color-violet-300: 196, 181, 253;
  --ce-color-violet-400: 167, 139, 250;
  --ce-color-violet-500: 139, 92, 246;
  --ce-color-violet-600: 124, 58, 237;
  --ce-color-violet-700: 109, 40, 217;
  --ce-color-violet-800: 91, 33, 182;
  --ce-color-violet-900: 76, 29, 149;
  --ce-color-violet-950: 46, 16, 101;
  --ce-color-purple-50: 250, 245, 255;
  --ce-color-purple-100: 243, 232, 255;
  --ce-color-purple-200: 233, 213, 255;
  --ce-color-purple-300: 216, 180, 254;
  --ce-color-purple-400: 192, 132, 252;
  --ce-color-purple-500: 168, 85, 247;
  --ce-color-purple-600: 147, 51, 234;
  --ce-color-purple-700: 126, 34, 206;
  --ce-color-purple-800: 107, 33, 168;
  --ce-color-purple-900: 88, 28, 135;
  --ce-color-purple-950: 59, 7, 100;
  --ce-color-fuchsia-50: 253, 244, 255;
  --ce-color-fuchsia-100: 250, 232, 255;
  --ce-color-fuchsia-200: 245, 208, 254;
  --ce-color-fuchsia-300: 240, 171, 252;
  --ce-color-fuchsia-400: 232, 121, 249;
  --ce-color-fuchsia-500: 217, 70, 239;
  --ce-color-fuchsia-600: 192, 38, 211;
  --ce-color-fuchsia-700: 162, 28, 175;
  --ce-color-fuchsia-800: 134, 25, 143;
  --ce-color-fuchsia-900: 112, 26, 117;
  --ce-color-fuchsia-950: 74, 4, 78;
  --ce-color-pink-50: 253, 242, 248;
  --ce-color-pink-100: 252, 231, 243;
  --ce-color-pink-200: 251, 207, 232;
  --ce-color-pink-300: 249, 168, 212;
  --ce-color-pink-400: 244, 114, 182;
  --ce-color-pink-500: 236, 72, 153;
  --ce-color-pink-600: 219, 39, 119;
  --ce-color-pink-700: 190, 24, 93;
  --ce-color-pink-800: 157, 23, 77;
  --ce-color-pink-900: 131, 24, 67;
  --ce-color-pink-950: 80, 7, 36;
  --ce-color-rose-50: 255, 241, 242;
  --ce-color-rose-100: 255, 228, 230;
  --ce-color-rose-200: 254, 205, 211;
  --ce-color-rose-300: 253, 164, 175;
  --ce-color-rose-400: 251, 113, 133;
  --ce-color-rose-500: 244, 63, 94;
  --ce-color-rose-600: 225, 29, 72;
  --ce-color-rose-700: 190, 18, 60;
  --ce-color-rose-800: 159, 18, 57;
  --ce-color-rose-900: 136, 19, 55;
  --ce-color-rose-950: 76, 5, 25;
}
