.ce-pos_top,
.ce-pos_right,
.ce-pos_bottom,
.ce-pos_left,
.ce-pos_center {
  position: absolute;
}

.ce-pos_top.ce-pos_center,
.ce-pos_bottom.ce-pos_center {
  left: 50%;
  transform: translateX(-50%);
}
.ce-pos_top.ce-pos_center {
  top: 0;
  bottom: initial;
}
.ce-pos_bottom.ce-pos_center {
  top: initial;
  bottom: 0;
}

.ce-pos_right.ce-pos_center,
.ce-pos_left.ce-pos_center {
  top: 50%;
  transform: translateY(-50%);
}
.ce-pos_right.ce-pos_center {
  right: 0;
  left: initial;
}
.ce-pos_left.ce-pos_center {
  right: initial;
  left: 0;
}

.ce-pos_top {
  top: 0;
}
.ce-pos_right {
  right: 0;
}
.ce-pos_bottom {
  bottom: 0;
}
.ce-pos_left {
  left: 0;
}
.ce-pos_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
