.ce-button[data-variant='submit'] {
  --bg-color: rgba(var(--ce-color-emerald-700));
  --text-color: rgba(var(--ce-color-emerald-100));

  --bg-color_hover: rgba(var(--ce-color-emerald-600));
  --text-color_hover: rgba(var(--ce-color-emerald-50));

  --bg-color_active: rgba(var(--ce-color-emerald-500));
  --text-color_active: rgba(var(--ce-color-emerald-50));

  --outline-color_focus: rgba(var(--ce-color-emerald-50));
}

.ce-button[data-variant='submit'][data-transparent] {
  --bg-color: rgba(var(--ce-color-emerald-400), 0.12);
  --text-color: rgba(var(--ce-color-emerald-400));

  --bg-color_hover: rgba(var(--ce-color-emerald-400), 0.18);
  --text-color_hover: rgba(var(--ce-color-emerald-300));

  --bg-color_active: rgba(var(--ce-color-emerald-400), 0.24);
  --text-color_active: rgba(var(--ce-color-emerald-50));

  --outline-color_focus: rgba(var(--ce-color-emerald-400));
}

.ce-button[data-variant='submit']:not([data-fill]) {
  --bg-color: none;
  --text-color: rgba(var(--ce-color-emerald-400));

  --bg-color_hover: rgba(var(--ce-color-emerald-400), 0.08);
  --text-color_hover: rgba(var(--ce-color-emerald-300));

  --bg-color_active: rgba(var(--ce-color-emerald-400), 0.12);
  --text-color_active: rgba(var(--ce-color-emerald-200));

  --outline-color_focus: rgba(var(--ce-color-emerald-400));
}
