@import './custom-elements/init.css';
@import './bgCircles.css';
@import './signUpForm.css';

#app {
  background-color: rgba(var(--ce-color-zinc-900));
  color: rgba(var(--ce-color-zinc-50));

  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

#app .app__sidebar,
#app .app__main {
  height: 100%;
}

#app .app__sidebar {
  background: url('../assets/images/sidebar.jpg') no-repeat center/cover;

  display: flex;
  flex-direction: column;

  position: relative;
  width: 40%;
  padding: 24px;
}

#app .app__sidebar::before {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));

  content: '';
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  z-index: 0;
}

#app .app__sidebar > * {
  position: relative;
}

#app .sidebar__text {
  color: rgba(var(--ce-color-zinc-50), 0.4);
  font: var(--ce-font-roboto-medium-sm);
  margin-top: auto;
}

#app .sidebar__link {
  color: rgba(var(--ce-color-zinc-50), 0.8);
  text-decoration: none;
  margin-left: 4px;
}
#app .sidebar__link:hover {
  color: rgba(var(--ce-color-zinc-50), 1);
}

#app .app__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0px 120px;
}

#app .form__terms a {
  text-decoration: none;
  color: rgba(var(--ce-color-sky-400));
}
