.bg-circles {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  pointer-events: none;
}

.bg-circles .bg-circles__circle {
  background-color: rgba(var(--ce-color-yellow-400), 0.4);

  width: 35vw;
  height: 35vh;
  border-radius: 50%;

  position: absolute;
  filter: blur(25vh);
}
